body {
   overflow: hidden;
   background-color: while;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Rakuten_Global_Brand_Logo.svg/1280px-Rakuten_Global_Brand_Logo.svg.png);
   background-repeat: no-repeat;
   background-position: top;
}

h1 {
	color: Purple;
	background-color:grey
	font-size:
}

p {
    color: yellow;
    background-color: grey;
}